.DS_Store
node_modules/
unpackage/
dist/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.project
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# 个人配置文件，自动忽略
package.json

# 忽略项目文件
.hbuilderx

# 本机乱七八糟的配置文件
.bash_profile.
.hbuilderx
# 
README.md